<div class="jumbotron">
    <h1><a href="https://twitter.com/Zookalooza" target="_blank">Zookalooza</a> supremacy</h1>
</div>
<div class="row">
    <img class="col-md-4" src="~/Content/Zook1.png" />
    <img class="col-md-4" src="~/Content/Zook2.png" />
    <img class="col-md-4" src="~/Content/Zook3.png" />
</div>
<div class="row">
    <img class="col-md-4" src="~/Content/Zook4.png" />
    <img class="col-md-4" src="~/Content/Zook5.png" />
    <img class="col-md-4" src="~/Content/Zook6.png" />
</div>
<div class="row">
    <img class="col-md-4" src="~/Content/Zook7.png" />
    <img class="col-md-4" src="~/Content/Zook8.png" />
    <img class="col-md-4" src="~/Content/Zook9.png" />
</div>
<div class="row">
    <img class="col-md-4" src="~/Content/Zook10.png" />
</div>