<div class="jumbotron">
    <h1><a href="https://twitter.com/Zookalooza" target="_blank">Zookalooza</a> supremacy</h1>
</div>
<div class="row">
    <img class="col-md-4" src="~/Content/Zook/Zook1.png" />
    <img class="col-md-4" src="~/Content/Zook/Zook2.png" />
    <img class="col-md-4" src="~/Content/Zook/Zook3.png" />
</div>
<div class="row">
    <img class="col-md-4" src="~/Content/Zook/Zook4.png" />
    <img class="col-md-4" src="~/Content/Zook/Zook5.png" />
    <img class="col-md-4" src="~/Content/Zook/Zook6.png" />
</div>
<div class="row">
    <img class="col-md-4" src="~/Content/Zook/Zook7.png" />
    <img class="col-md-4" src="~/Content/Zook/Zook8.png" />
    <img class="col-md-4" src="~/Content/Zook/Zook9.png" />
</div>
<div class="row">
    <img class="col-md-4" src="~/Content/Zook/Zook10.png" />
</div>