<div class="jumbotron">
    <h1>FAQs</h1>
    <p>Find us by Twitter at <a href="https://twitter.com/SmashExplorer" target="_blank">@@SmashExplorer</a> or Discord at <a href="https://discord.gg/zMkPqNfPcH" target="_blank">SmashExplorer</a>.</p>
</div>
<h3>So, how do I use this site?</h3>
<p>
    The site currently has three features - <strong>Explore</strong>, <strong>Upsets Viewer</strong>, <strong>Seed Visualizer.</strong> To use any of these three features, select a tournament
    from the home page and navigate to the appropriate page for the feature. Features summarized:
</p>
<ul>
    <li><strong>Explore</strong> - Select a list of entrants, and you generate a link <strong>with updating real-time data</strong> to track them throughout the rest of the tournament. Share the link with your friends! Links are good for 3 months. @Html.ActionLink("Example!", "Index", "Explore", new { id = "9db0b307" }, new { target = "_blank" })</li>
    <li><strong>Upsets</strong> - Shows you all upsets that's happened at a tournament. @Html.ActionLink("Example!", "Index", "Upsets", new { id = "400198" }, new { target = "_blank" })</li>
    <li><strong>Seed Visualizer</strong> - View a placement to <a href="https://www.pgstats.com/articles/introducing-spr-and-uf" target="_blank">Seed Performance Ranking (SPR)</a> chart for Top 128 at the event. @Html.ActionLink("Example!", "Index", "SeedVisualizer", new { id = "677796" }, new { target = "_blank" })</li>
</ul>
<h3>How often are events and sets refreshed?</h3>
<p>
    Our script currently has events from 2022-01-01 to 14 days forward from today. Events are refreshed hourly - alongside their entrants. <strong>Only events with 10 or more entrants are captured.</strong> 
    <br/>
    Active events, or events starting in the next 24 hours, will have
    their sets updated every 3 minutes.
</p>
<h3>I have a tournament much farther in advance that I'd like you guys to track. Is there any way about this?</h3>
<p>Of course - Contact us, and we can work something out.</p>
<h3>Some data is incorrect. Can I report this?</h3>
<p>Yes! Please let us know if we're missing anything.</p>
<h3>I have a feature request or a bug report. Where can I reach you?</h3>
<p>Find us by Twitter at <a href="https://twitter.com/SmashExplorer" target="_blank">@@SmashExplorer</a> or Discord at <a href="https://discord.gg/zMkPqNfPcH" target="_blank">SmashExplorer</a>.</p>
<h3>How is this application hosted?</h3>
<p>Smash Explorer is entirely hosted on Azure!</p>